body{
    background-color: var(--color-grey);
    font-family: var( --font-family-primary);
}
.cust-margin{
    margin: 2rem 20rem auto 20rem;
}
.cust-margin h1{
  color: var(--color-primary);
}
.font-weight-bold{
    font-weight: bold;
    font-size: 2rem;

}
.card{
    border-radius: 1rem;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
}
.card-header{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding-left: 3rem;
 
}.card-header-error{
  background-color: var(--color-red);
  color: var(--color-white);
  padding-left: 3rem;

}
.topbar.navbar-light .navbar-nav .nav-item .nav-link{
  color: var(--color-white);
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover{
  cursor: pointer;
  color: rgb(255, 255, 255);
  /* font-weight: bold; */
  background-color: var(--color-primary);
}
.card-body{
    padding: 1rem 10%;
color: black;
 
}
.card-content{
    padding-left: 4rem;
 
}
h4{
    padding-top: .5rem;
}
.box{
  border: 1px solid var(--color-primary);
  border-radius: .5rem;
}
.btn-check:checked+.btn, :not(.btn-check)+.btn:active, .btn:first-child:active, .btn.active, .btn.show{
  color: var(--color-white);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.check{margin: 1rem;}
.form-control{
  border-color: var(--color-primary);
  border-radius: .5rem;
  color: black;
}
.form-control:disabled{
  background-color: white;
  border-color: var(--color-primary);
  cursor: not-allowed; 
    opacity: 0.2;
}
.form-control:focus{
  color: black;
}
.rounded-input{
    border-radius: 10px;
    border-color: var(--color-primary)
  }
  .rounded-input-error{
    border-radius: 10px;
    border-color: var(--color-red)
  }
  .name-activity-error{
    color: var(--color-red);
  }
  .form-group{
    padding-bottom: 1rem;
  }

  
  .btn-success{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    border-radius: .5rem;
    color: var(--color-white);
  }
  .btn-success:hover{
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    border-radius: .5rem;
    color: white;
  }
  .pr-4{
    margin-right: 20%;
  }
  .custom-file-input::-webkit-file-upload-button {
    padding: 0.5rem 1rem; 
    background-color: var(--color-white); 
    color: var(--color-primary); 
    border: 1.5px solid var(--color-primary);
    border-radius: 5px; 
    cursor: pointer;
    outline: none; 
    font-weight: bold;
    transition: background-color .5s ease;
  }
  .custom-file-input::-webkit-file-upload-button:hover {
    
    background-color: var(--color-primary);
    color: var(--color-white);
  }
  
  .btn-outline-success{
    border-color: var(--color-primary);
    border: 1.5px solid var(--color-primary);
    border-radius: .5rem;
color: var(--color-primary);
background-color: var(--color-white);

  }
  .btn-outline-success:hover{
    border-color: var(--color-primary);
    border: 1.5px solid var(--color-primary);
    border-radius: .5rem;
    color: var(--color-white);
background-color: var(--color-primary);
  }
.form-control[readonly] {
    background-color: var(--color-white); 
}.form-control:focus {
  border-color: var(--color-secondary); 
  box-shadow: 0 0 0 0.25rem rgba(76, 175, 80, 0.25)
}

.drop_zone {
  border: 2px dashed #cccccc;
  border-radius: 4px;
  padding: 15px;
  height: 10rem;
  transition: background-color .1s linear .1s;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.drop_zone.dragover {
  background-color: #F5F5F5;
}

.drop_zone > span {
  color: #CCCCD3;
  font-size: 12pt;
  text-align: center;
  display: block;
  margin-bottom: 5px;
  z-index: -1;
  pointer-events: none;
}

.drop_zone > label {
  background: #EEE;
}

.drop_zone > label > input {
  display: none;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

.dropdown-item, .dropdown-item {
  color: var(--color-primary);
}
.dropdown-item.active, .dropdown-item:active{
  background-color: var(--color-secondary);
color: var(--color-white);
}
.dropdown-item:hover{
  /* color: var(--color-white); */
  background-color: #dad9d9;
  color: var(--color-secondary);
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@media (max-width: 575.98px)  {
     .cust-margin{
    margin: 2rem 2rem auto 2rem;
    }
    
    .font-weight-bold{
        font-size: 7vw;
    }
    body{
        font-size: 12px;
    }
}

@media(min-width: 576px) and (max-width: 767.98px){ .cust-margin{
    margin: 2rem 4rem auto 4rem;

}  }


@media(min-width: 768px) and (max-width: 991.98px){ .cust-margin{
    margin: 2rem 6rem auto 6rem;

}  }

@media (min-width: 992px) and (max-width: 1920.98px){ .cust-margin{
    margin: 2rem 8rem auto 8rem;

}  }